body {
  background-color: black;
  height: 3000px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  justify-content: space-between;
}

.sidebar1,
.sidebar2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.x-icon-div {
  height: 48px;
  width: 48px;
}

.svg-x {
  height: 70px;
  width: 100%;
}

.group-svg-div,
.post-icon-div {
  height: 48px;
  width: 48px;
}

.sidebar1-group {
  display: flex;
  flex-direction: column;
}

.x-icon-sidebar {
  display: flex;
  height: 50px;
  width: 90px;
  justify-content: center;
}

.post-icon-sidebar {
  display: flex;
  height: 28px;
  width: 28px;
  justify-content: center;
}

.svg,
.svg-post,
.svg-x {
  height: 27px;
  width: 100%;
}

.svg-post {
  color: rgb(255, 255, 255);
}

.x-icon-div {
  height: 50px;
  width: 50px;
}
