body {
  background-color: black;
  height: 3000px;
}

.sidebar-icons {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.sidebar-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
}

.svg {
  height: 27px;
  width: 100%;
}

.svg-post {
  height: 27px;
  width: 100%;
  color: rgb(255, 255, 255);
}

.sidebar-icons-group2 {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
